        <!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->
        <section id="slider" class="hero-slider">
          <div class="rev-slider-wrapper fullwidthbanner-container overlay-gradient">
              <!-- Start REVOLUTION SLIDER 5.4.1 fullwidth mode -->
              <div id="hero-slider2" class="rev_slider fullwidthabanner" style="display:none" data-version="5.4.1">
                  <ul>

                      <!-- ===== SLIDE NR. 1 ===== -->
                      <li data-transition="fade">
                          <!-- MAIN IMAGE -->
                          <img src="assets/images/other/gradient-bg.jpg"
                               alt="Image"
                               title="slider-bg"
                               data-bgposition="center center"
                               data-bgfit="cover"
                               data-bgrepeat="no-repeat"
                               data-bgparallax="10"
                               class="rev-slidebg"
                               data-no-retina="">
                          <!-- LAYER NR. 1 -->
                          <div class="tp-caption tp-resizeme"
                               data-x="center"
                               data-hoffset=""
                               data-y="middle"
                               data-voffset="['-60']"
                               data-responsive_offset="on"
                               data-fontsize="['60','50','40','30']"
                               data-lineheight="['60','50','40','30']"
                               data-whitespace="nowrap"
                               data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                               style="z-index: 5; color: #fff; font-weight: 900;">WELCOME TO WORLD OF WEBSERIES
                          </div>


                          <!-- LAYER NR. 2 -->
                          <div class="tp-caption tp-resizeme"
                               data-x="center"
                               data-hoffset=""
                               data-y="middle"
                               data-voffset="['0', '0', '-20', '-20']"
                               data-responsive_offset="on"
                               data-fontsize="['16', '16', '16', '14']"
                               data-lineheight="['60','50','40','30']"
                               data-whitespace="nowrap"
                               data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                               style="z-index: 5; color: #fff; font-weight: 400;">Watching your favorite Movies & TV Shows is just one click away now!
                          </div>


                          <!-- LAYER NR. 3 -->
                          <div class="tp-caption tp-resizeme text-center"
                               data-x="center"
                               data-hoffset=""
                               data-y="middle"
                               data-voffset="['50','50','30','30']"
                               data-responsive_offset="on"
                               data-whitespace="nowrap"
                               data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                               style="z-index: 5; color: #fff; font-weight: 400;">
                              <a href="#" class="btn btn-main btn-effect">Try it for free!</a>
                          </div>

                          <!-- LAYER NR. 4 -->
                          <div class="tp-caption tp-resizeme"
                               data-type="image"
                               data-x="center"
                               data-hoffset=""
                               data-y="bottom"
                               data-voffset="['-20','-20','-30','-500' ]"
                               data-width="['auto']"
                               data-height="['auto']"
                               data-responsive_offset="on"
                               data-whitespace="nowrap"
                               data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                               style="z-index: 5; color: #fff; font-weight: 400;">
                              <img src="assets/images/other/browser.png" alt="">
                          </div>

                      </li>

                  </ul>
              </div>
              <!-- End REVOLUTION SLIDER 5.4.1 fullwidth mode -->
          </div>
          <!-- ===== END OF REV SLIDER WRAPPER ===== -->

      </section>
      <!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->




      <!-- =============== START OF HOW IT WORKS SECTION =============== -->
      <section class="how-it-works4 pt50 pb100">
          <div class="container">
              <div class="row">

                  <div class="col-md-6 col-sm-12">
                      <div class="icon-box2">
                          <i class="icon-login"></i>
                          <h4 class="title">Register</h4>
                          <p></p>
                      </div>

                      <div class="icon-box2">
                          <i class="icon-magic-wand"></i>
                          <h4 class="title">Enjoy Everywhere</h4>
                          <p></p>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-12">
                      <div class="icon-box2">
                          <i class="icon-screen-smartphone"></i>
                          <h4 class="title">Watch on any Device</h4>
                          <p></p>
                      </div>

                      <div class="icon-box2">
                          <i class="icon-heart"></i>
                          <h4 class="title">Our client love us</h4>
                          <p></p>
                      </div>
                  </div>

              </div>
          </div>
      </section>
      <!-- =============== END OF HOW IT WORKS SECTION =============== -->





      <!-- =============== START OF FEATURES SECTION =============== -->
      <section class="features">
          <div class="row">

              <div class="col-md-6 col-sm-12 with-bg overlay-gradient" style="background: url(assets/images/other/touchkit.jpg)"></div>

              <div class="col-md-6 col-sm-12 bg-light">
                  <div class="features-wrapper">
                      <h3 class="title">Watch all Movies & TV Shows once they get released!</h3>
                      <p>
                        Some information about ur web series channel.
                      </p>
                      <!-- <a class="btn btn-main btn-effect" href="#">View Features</a> -->
                  </div>
              </div>

          </div>
      </section>
      <!-- =============== END OF FEATURES SECTION =============== -->




      <!-- =============== END OF SUBSCRIBE SECTION =============== -->
      <section class="subscribe bg-light2 ptb100">
          <div class="container">

              <!-- Start of row -->
              <div class="row justify-content-center">
                  <div class="col-md-7 text-center">
                      <h2 class="title">Join Watch Web Series Now!</h2>
                      <h6 class="subtitle">
                        Find some quote for this area.
                      </h6>
                  </div>
              </div>
              <!-- End of row -->
          </div>
      </section>
      <!-- =============== END OF SUBSCRIBE SECTION =============== -->
