<!-- =============== START OF MOVIE DETAIL INTRO =============== -->
<section class="movie-detail-intro overlay-gradient ptb100"
  style="background: url(assets/images/other/movie-detail-bg.jpg);">
</section>
<!-- =============== END OF MOVIE DETAIL INTRO =============== -->



<!-- =============== START OF MOVIE DETAIL INTRO 2 =============== -->
<section class="movie-detail-intro2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="movie-poster">
          <img src="{{getAbsolutePath(movie.imageurl)}}" alt="" class="imgposter">

          <a href="{{getAbsolutePath(movie.videourl)}}" class="play-video">
            <i class="fa fa-play"></i>
          </a>
        </div>


        <div class="movie-details">
          <h3 class="title">{{movie.name}}: The Movie</h3>

          <ul class="movie-subtext">
            <li>{{movie.duration}}</li>
            <li>{{movie.categories}}</li>
            <li>{{ getReleaseDate(movie.releaseddate) }}</li>
          </ul>

        </div>

        <div class="clearfix"></div>

      </div>
    </div>
  </div>
</section>
<!-- =============== End OF MOVIE DETAIL INTRO 2 =============== -->


<!-- =============== START OF MOVIE DETAIL MAIN SECTION =============== -->
<section class="movie-detail-main ptb100">
  <div class="container">

    <div class="row">
      <!-- Start of Movie Main -->
      <div>
        <div class="inner pr50">

          <!-- Storyline -->
          <div class="storyline">
            <h3 class="title">Storyline</h3>

            <p>{{movie.story}}</p>
          </div>
        </div>
      </div>
      <!-- End of Sidebar -->
    </div>

  </div>
</section>
<!-- =============== END OF MOVIE DETAIL MAIN SECTION =============== -->



<!-- =============== START OF RECOMMENDED MOVIES SECTION =============== -->
<section class="recommended-movies bg-light ptb100">
  <div class="container">

    <!-- Start of row -->
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h2 class="title">Recommended Videos...</h2>
      </div>
    </div>
    <!-- End of row -->


    <!-- Movie List Item -->
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let _movie of recommendedMovieList">
        <div class="movie-box-1 mb30">
          <!-- Start of Poster -->
          <div class="poster">
            <img src="{{getAbsolutePath(_movie.imageurl)}}" alt="">
          </div>
          <!-- End of Poster -->

          <!-- Start of Buttons -->
          <div class="buttons" (click)="redirectToMovieDetails(_movie)">
            <a style="color: aliceblue; cursor: pointer;" onclick="this.preventDefault()" class="play-video">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <!-- End of Buttons -->

          <!-- Start of Movie Details -->
          <div class="movie-details">
            <h4 class="movie-title">
              <a href="movie-detail.html">{{_movie.name}}</a>
            </h4>
            <span class="released">{{ getReleaseDate(_movie.releaseddate) }}</span>
          </div>
          <!-- End of Movie Details -->
        </div>
      </div>

    </div>
  </div>

</section>
<!-- =============== END OF RECOMMENDED MOVIES SECTION =============== -->


<video style="display: none;" *ngIf="movie.videourl != null" #video (loadedmetadata)="onMetadata($event, video)"
  src="{{getAbsolutePath(movie.videourl)}}"></video>
