<main class="login-register-page" style="background-image: url(assets/images/posters/movie-collection.jpg)">
  <div class="container">

      <!-- =============== START OF LOGIN & REGISTER POPUP =============== -->
      <div class="small-dialog login-register">

          <!-- ===== Start of Signin wrapper ===== -->
          <div class="signin-wrapper">
              <div class="small-dialog-headline">
                  <h4 class="text-center">Sign in</h4>
              </div>


              <div class="small-dialog-content">

                  <!-- Start of Login form -->
                  <form id="cariera_login" >
                      <p class="status"></p>

                      <div class="form-group">
                          <label for="username">Username *</label>
                          <input type="text" [(ngModel)]="loginUser.name" class="form-control" id="username" name="username" placeholder="Your Username or Email *" />
                      </div>

                      <div class="form-group">
                          <label for="password">Password *</label>
                          <input type="password" [(ngModel)]="loginUser.password" class="form-control" id="password" name="password" placeholder="Your Password *" />
                      </div>

                      <div class="form-group">
                          <input (click)="login()" type="submit" value="Sign in" class="btn btn-main btn-effect nomargin" />
                      </div>
                  </form>
                  <!-- End of Login form -->

                  <div class="bottom-links">
                      <span>
                          Not a member?
                          <a  class="signUpClick">Sign up</a>
                      </span>
                      <a  class="forgetPasswordClick pull-right">Forgot Password</a>
                  </div>
                  <div class="text-danger">
                    <b>{{loginerror}}</b>
                  </div>
              </div>

          </div>
          <!-- ===== End of Signin wrapper ===== -->



          <!-- ===== Start of Signup wrapper ===== -->
          <div class="signup-wrapper">
              <div class="small-dialog-headline">
                  <h4 class="text-center">Sign Up</h4>
              </div>

              <div class="small-dialog-content">

                  <!-- Start of Registration form -->
                  <form id="cariera_registration" >
                      <!-- <p class="status">Error</p> -->

                      <div class="form-group">
                          <label for="movify_user_login">Username</label>
                          <input name="movify_user_login" [(ngModel)]="registerUser.name" id="movify_user_login" class="form-control" type="text"/>
                      </div>

                      <div class="form-group">
                          <label for="movify_user_email">Email</label>
                          <input name="movify_user_email"  [(ngModel)]="registerUser.emailid" id="movify_user_email" class="form-control" type="email"/>
                      </div>

                      <div class="form-group">
                          <label for="password">Password</label>
                          <input name="movify_user_pass"  [(ngModel)]="registerUser.password" id="movify_password" class="form-control" type="password"/>
                      </div>

                      <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input name="movify_user_cpass" id="movify_cpassword" class="form-control" type="password"/>
                      </div>

                      <div class="form-group">
                          <input type="submit" (click)="register()" class="btn btn-main btn-effect nomargin" value="Register"/>
                      </div>
                  </form>
                  <!-- End of Registration form -->

                  <div class="bottom-links">
                      <span>
                          Already have an account?
                          <a class="signInClick">Sign in</a>
                      </span>

                      <a class="forgetPasswordClick pull-right">Forgot Password</a>
                  </div>

                  <div class="text-danger">
                    <b>{{registererror}}</b>
                  </div>

              </div> <!-- .small-dialog-content -->

          </div>
          <!-- ===== End of Signup wrapper ===== -->



          <!-- ===== Start of Forget Password wrapper ===== -->
          <div class="forgetpassword-wrapper">
              <div class="small-dialog-headline">
                  <h4 class="text-center">Forgotten Password</h4>
              </div>

              <div class="small-dialog-content">

                  <!-- Start of Forger Password form -->
                  <form id="forget_pass_form">
                      <p class="status"></p>

                      <div class="form-group">
                          <label for="password">Email Address *</label>
                          <input type="email" [(ngModel)]="forgetUser.emailid" name="user_login" class="form-control" id="email3" placeholder="Email Address *" />
                      </div>

                      <div class="form-group">
                          <input (click)="forget()" type="submit" name="submit" value="Get New Password" class="btn btn-main btn-effect nomargin" />
                      </div>
                  </form>
                  <!-- End of Forger Password form -->

                  <div class="bottom-links">
                      <a class="cancelClick">Cancel</a>
                  </div>

                  <div class="text-danger">
                    <b>{{forgeterror}}</b>
                  </div>
              </div><!-- .small-dialog-content -->

          </div>
          <!-- ===== End of Forget Password wrapper ===== -->

      </div>
      <!-- =============== END OF LOGIN & REGISTER POPUP =============== -->

      <a href="index-2.html" class="text-white">Back to Home</a>

  </div>
</main>
