<section class="page-header overlay-gradient" style="background: url(assets/images/posters/movie-collection.jpg);">
  <div class="container">
      <div class="inner">
          <h2 class="title">Language Records</h2>
      </div>
  </div>
</section>
<section >

  <main class="ptb100">
  <div class="container-fluid" >


    <div class="row">
      <div class="col-md-4">
        <form>

          <div class="form-group">
            <label for="catgory">Name:</label>
            <input type="text" class="form-control" name="name" id="name"
            [(ngModel)]="language.name">
          </div>

          <button (click)="submit()" type="button"  class="btn btn-main btn-effect login-btn" id="btnadd">
            {{ language.id == null? "Add" : "Update" }} Language
          </button>
          <h5> {{ language | json}} </h5>

          <div id="err" class="text-danger">
            <img src="assets/images/loading.gif" *ngIf="showloading" class="loadingimg" />
            {{message}}
          </div>
        </form>
      </div>

      <div class="col-md-7 offset-1">
        <table class="table table-bordered">
          <thead>
            <th>Langauge</th>
            <th>
            </th>
          </thead>
          <tbody>
            <tr class="editicons" *ngFor="let _langauge of languageList" >
              <td> {{_langauge.name}} </td>
              <td>
                <a (click)="delete(_langauge)" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete Language"><i class="large material-icons">delete</i></a>
                <a (click)="edit(_langauge)" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit Language"><i class='large material-icons' >edit</i></a>
              </td>
            </tr>

            <tr>
              <td colspan="2" *ngIf="languageList == null || languageList.length == 0"  >
                No record found
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>







