<section class="page-header overlay-gradient" style="background: url(assets/images/posters/movie-collection.jpg);">
  <div class="container">
      <div class="inner">
          <h2 class="title">Genre Records</h2>
      </div>
  </div>
</section>
<section >

  <main class="ptb100">
  <div class="container-fluid" >

    <div class="row">
      <div class="col-md-4">
        <form>

          <div class="form-group">
            <label for="catgory">Genre:</label>
            <input type="text" class="form-control" name="name" id="name"
            [(ngModel)]="category.name">
          </div>

          <button (click)="submit()" type="button"  class="btn btn-main btn-effect login-btn" id="btnadd">
            {{ category.id == null? "Add" : "Update" }} Genre
          </button>
          <h5> {{ category | json}} </h5>


          <div id="err" class="text-danger">
            <img *ngIf="showloading"  src="assets/images/loading.gif" class="loadingimg" />
            {{message}}
          </div>
        </form>
      </div>

      <div class="col-md-7 offset-1">
        <table class="table table-bordered">
          <thead>
            <th>Genre</th>
            <th>
            </th>
          </thead>
          <tbody>
            <tr class="editicons" *ngFor="let _category of categoryList" >
              <td> {{_category.name}} </td>
              <td>
                <a (click)="delete(_category)" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete Genre"><i class="large material-icons">delete</i></a>
                <a (click)="edit(_category)" class="btn" data-toggle="tooltip" data-placement="bottom" title="Edit Genre"><i class='large material-icons' >edit</i></a>
              </td>
            </tr>


            <tr>
              <td colspan="2" *ngIf="categoryList == null || categoryList .length == 0"  >
                No record found
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  </main>







