<section class="page-header overlay-gradient" style="background: url(assets/images/posters/movie-collection.jpg);">
  <div class="container">
      <div class="inner">
          <h2 class="title">Series Records</h2>
      </div>
  </div>
</section>
<section >

  <main class="ptb100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <form>

          <div class="form-group">
            <label for="catgory">Name:</label>
            <input type="text" class="form-control" name="name" id="name"
            [(ngModel)]="series.name">
          </div>

          <div class="form-group">
            <label for="catgory">Genres:</label>
            <select class="form-control" name="genre" id="genre" multiple
            size="3" [(ngModel)]="series.categories">
              <option *ngFor="let _category of categoryList" >
                {{_category.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="catgory">Language:</label>
            <select class="form-control" name="language" id="language"
            [(ngModel)]="series.language">
              <option value="0"></option>
              <option *ngFor="let _language of languageList" >
                {{_language.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="catgory">Poster Image</label>
            <input type="file" class="form-control" name="imageurl" id="imageurl"
            [(ngModel)]="series.imageurl" (change)="selectedImage($event)">
          </div>

          <div class="form-group">
            <label for="catgory">Trailer Video</label>
            <input type="file" class="form-control" name="videourl" id="videourl"
            [(ngModel)]="series.videourl" (change)="selectedVideo($event)">
          </div>

          <div class="form-group">
            <label for="catgory">Story</label>
            <textarea rows="2" style="min-height: 20px;" type="text" class="form-control" name="story" id="story"
            [(ngModel)]="series.story"></textarea>
          </div>

          <div class="form-group">
            <div class="checkbox pad-bottom-10">
                <input id="check1" type="checkbox" name="remember" value="1"
                [(ngModel)]="series.forkid">
                <label for="check1">For Kids</label>
            </div>
        </div>

          <button (click)="submit()" type="button"  class="btn btn-main btn-effect login-btn" id="btnadd">
            "Add" Series
          </button>
          <h5> {{ series | json}} </h5>

          <div id="err" class="text-danger">
            <img *ngIf="showloading"  src="assets/images/loading.gif" class="loadingimg" />
            {{message}}
          </div>
        </form>
      </div>

      <div class="col-md-7 offset-1">
        <table class="table table-bordered">
          <thead>
            <th>Poster</th>
            <th>Series</th>
            <th>Genres</th>
            <th>Language</th>
            <th>Episodes</th>
            <th></th>
          </thead>
          <tbody>
            <tr class="editicons" *ngFor="let _series of seriesList" >
              <td><img style="width: 100px;" src="{{getAbosolutePath(_series.imageurl)}}"></td>
              <td>{{_series.name}}</td>
              <td> {{_series.categories}} </td>
              <td> {{_series.language}} </td>
              <td>{{_series.count}}  </td>
              <td>
                <a (click)="delete(_series)" class="btn" data-toggle="tooltip" data-placement="bottom" title="Delete Series"><i class="large material-icons">delete</i></a>
                <a href="/admin/episodes/{{_series.id}}" class="btn" data-toggle="tooltip" data-placement="bottom" title="Upload Episodes"><i class="large material-icons">file_upload</i></a>
              </td>
            </tr>

            <tr *ngIf="seriesList == null || seriesList.length ==0" >
              <td colspan="6"  >
                No record found
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</main>
</section>






